In [1]:
import pandas as pd

In [2]:
games=pd.read_csv('games.csv')
teams=pd.read_csv('teams.csv')

In [3]:
teams.info()
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   LEAGUE_ID           30 non-null     int64
 1   TEAM_ID             30 non-null     int64
 2   MIN_YEAR            30 non-null     int64
 3   MAX_YEAR            30 non-null     int64
 4   ABBREVIATION        30 non-null     object
 5   NICKNAME            30 non-null     object
 6   YEARFOUNDED         30 non-null     int64
 7   CITY                30 non-null     object
 8   ARENA               30 non-null     object
 9   ARENACAPACITY       26 non-null     float64
 10  OWNER               30 non-null     object
 11  GENERALMANAGER      30 non-null     object
 12  HEADCOACH           30 non-null     object
 13  DLEAGUEAFFILIATION  30 non-null     object
dtypes: float64(1), int64(5), object(8)
memory usage: 3.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23421 entries, 0 to 23420
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GAME_DATE         23421 non-null  object
 1   GAME_ID           23421 non-null  int64
 2   GAME_STATUS_TEXT  23421 non-null  object
 3   HOME_TEAM_ID      23421 non-null  int64
 4   VISITOR_TEAM_ID   23421 non-null  int64
 5   SEASON            23421 non-null  int64
 6   TEAM_ID_home      23421 non-null  int64
 7   POINTS_home       23421 non-null  int64
 8   FG_PCT_home       23421 non-null  float64
 9   FT_PCT_home       23421 non-null  float64
 10  FG3_PCT_home      23421 non-null  float64
 11  AST_home          23421 non-null  int64
 12  REB_home          23421 non-null  int64
 13  TEAM_ID_away      23421 non-null  int64
 14  POINTS_away       23421 non-null  int64
 15  FG_PCT_away       23421 non-null  float64
 16  FT_PCT_away       23421 non-null  float64
 17  FG3_PCT_away      23421 non-null  float64
 18  AST_away          23421 non-null  int64
 19  REB_away          23421 non-null  int64
 20  HOME_TEAM_WINS    23421 non-null  int64
dtypes: float64(6), int64(13), object(2)
memory usage: 3.8+ MB

In [4]:
games.shape

(23421, 21)

In [5]:
teams.shape

(30, 14)

In [6]:
games_level=pd.concat([games,teams],ignore_index=True)

In [7]:
games_level

,GAME_DATE,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,POINTS_home,FG_PCT_home,FT_PCT_home,...,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,2020-12-19,12000047.0,Final,1.610613e+09,1.610613e+09,2020.0,1.610613e+09,120.0,0.433,0.792,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-12-19,12000048.0,Final,1.610613e+09,1.610613e+09,2020.0,1.610613e+09,99.0,0.427,0.625,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-12-19,12000049.0,Final,1.610613e+09,1.610613e+09,2020.0,1.610613e+09,116.0,0.400,0.744,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-12-18,12000039.0,Final,1.610613e+09,1.610613e+09,2020.0,1.610613e+09,107.0,0.371,0.692,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-12-18,12000040.0,Final,1.610613e+09,1.610613e+09,2020.0,1.610613e+09,105.0,0.380,0.737,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23446,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,WAS,Wizards,1961.0,Washington,Capital One Arena,20647.0,Ted Leonsis,Tommy Sheppard,Scott Brooks,Capital City Go-Go
23447,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DET,Pistons,1948.0,Detroit,Little Caesars Arena,21000.0,Tom Gores,Ed Stefanski,Dwane Casey,Grand Rapids Drive
23448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,CHA,Hornets,1988.0,Charlotte,Spectrum Center,19026.0,Michael Jordan,Mitch Kupchak,James Borrego,Greensboro Swarm
23449,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,CLE,Cavaliers,1970.0,Cleveland,Quicken Loans Arena,20562.0,Dan Gilbert,Koby Altman,John Beilein,Canton Charge
23450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,GSW,Warriors,1946.0,Golden State,Chase Center,19596.0,Joe Lacob,Bob Myers,Steve Kerr,Santa Cruz Warriors

In [8]:
games_level=games_level.fillna('0')

In [9]:
games_level

,GAME_DATE,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,POINTS_home,FG_PCT_home,FT_PCT_home,...,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,2020-12-19,12000047.0,Final,1610612753.0,1610612766.0,2020.0,1610612753.0,120.0,0.433,0.792,...,0,0,0,0,0,0,0,0,0,0
1,2020-12-19,12000048.0,Final,1610612764.0,1610612765.0,2020.0,1610612764.0,99.0,0.427,0.625,...,0,0,0,0,0,0,0,0,0,0
2,2020-12-19,12000049.0,Final,1610612763.0,1610612737.0,2020.0,1610612763.0,116.0,0.4,0.744,...,0,0,0,0,0,0,0,0,0,0
3,2020-12-18,12000039.0,Final,1610612754.0,1610612755.0,2020.0,1610612754.0,107.0,0.371,0.692,...,0,0,0,0,0,0,0,0,0,0
4,2020-12-18,12000040.0,Final,1610612761.0,1610612748.0,2020.0,1610612761.0,105.0,0.38,0.737,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23446,0,0,0,0,0,0,0,0,0,0,...,WAS,Wizards,1961.0,Washington,Capital One Arena,20647.0,Ted Leonsis,Tommy Sheppard,Scott Brooks,Capital City Go-Go
23447,0,0,0,0,0,0,0,0,0,0,...,DET,Pistons,1948.0,Detroit,Little Caesars Arena,21000.0,Tom Gores,Ed Stefanski,Dwane Casey,Grand Rapids Drive
23448,0,0,0,0,0,0,0,0,0,0,...,CHA,Hornets,1988.0,Charlotte,Spectrum Center,19026.0,Michael Jordan,Mitch Kupchak,James Borrego,Greensboro Swarm
23449,0,0,0,0,0,0,0,0,0,0,...,CLE,Cavaliers,1970.0,Cleveland,Quicken Loans Arena,20562.0,Dan Gilbert,Koby Altman,John Beilein,Canton Charge
23450,0,0,0,0,0,0,0,0,0,0,...,GSW,Warriors,1946.0,Golden State,Chase Center,19596.0,Joe Lacob,Bob Myers,Steve Kerr,Santa Cruz Warriors

In [10]:
games_level.columns

Index(['GAME_DATE', 'GAME_ID', 'GAME_STATUS_TEXT', 'HOME_TEAM_ID',
       'VISITOR_TEAM_ID', 'SEASON', 'TEAM_ID_home', 'POINTS_home',
       'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home',
       'TEAM_ID_away', 'POINTS_away', 'FG_PCT_away', 'FT_PCT_away',
       'FG3_PCT_away', 'AST_away', 'REB_away', 'HOME_TEAM_WINS', 'LEAGUE_ID',
       'TEAM_ID', 'MIN_YEAR', 'MAX_YEAR', 'ABBREVIATION', 'NICKNAME',
       'YEARFOUNDED', 'CITY', 'ARENA', 'ARENACAPACITY', 'OWNER',
       'GENERALMANAGER', 'HEADCOACH', 'DLEAGUEAFFILIATION'],
      dtype='object')

In [11]:
games_level.columns=games_level.columns.str.title()

In [12]:
games_level.columns

Index(['Game_Date', 'Game_Id', 'Game_Status_Text', 'Home_Team_Id',
       'Visitor_Team_Id', 'Season', 'Team_Id_Home', 'Points_Home',
       'Fg_Pct_Home', 'Ft_Pct_Home', 'Fg3_Pct_Home', 'Ast_Home', 'Reb_Home',
       'Team_Id_Away', 'Points_Away', 'Fg_Pct_Away', 'Ft_Pct_Away',
       'Fg3_Pct_Away', 'Ast_Away', 'Reb_Away', 'Home_Team_Wins', 'League_Id',
       'Team_Id', 'Min_Year', 'Max_Year', 'Abbreviation', 'Nickname',
       'Yearfounded', 'City', 'Arena', 'Arenacapacity', 'Owner',
       'Generalmanager', 'Headcoach', 'Dleagueaffiliation'],
      dtype='object')

In [13]:
games_level.describe()

,Game_Date,Game_Id,Game_Status_Text,Home_Team_Id,Visitor_Team_Id,Season,Team_Id_Home,Points_Home,Fg_Pct_Home,Ft_Pct_Home,...,Abbreviation,Nickname,Yearfounded,City,Arena,Arenacapacity,Owner,Generalmanager,Headcoach,Dleagueaffiliation
count,23451,23451,23451,2.345100e+04,2.345100e+04,23451.0,2.345100e+04,23451.0,23451.0,23451.00,...,23451,23451,23451,23451,23451,23451,23451,23451,23451,23451
unique,3793,23422,2,3.100000e+01,3.100000e+01,19.0,3.100000e+01,100.0,357.0,369.00,...,31,31,16,30,30,25,31,31,31,29
top,0,0,Final,1.610613e+09,1.610613e+09,2005.0,1.610613e+09,104.0,0.5,0.75,...,0,0,0,0,0,0,0,0,0,0
freq,30,30,23421,8.580000e+02,8.300000e+02,1432.0,8.580000e+02,751.0,729.0,1039.00,...,23421,23421,23421,23421,23421,23425,23421,23421,23421,23421

In [27]:
games_level.sort_values(by='Game_Date',ascending=False).head()

,Game_Date,Game_Id,Game_Status_Text,Home_Team_Id,Visitor_Team_Id,Season,Team_Id_Home,Points_Home,Fg_Pct_Home,Ft_Pct_Home,...,Abbreviation,Nickname,Yearfounded,City,Arena,Arenacapacity,Owner,Generalmanager,Headcoach,Dleagueaffiliation
0,2020-12-19,12000047.0,Final,1610612753.0,1610612766.0,2020.0,1610612753.0,120.0,0.433,0.792,...,0,0,0,0,0,0,0,0,0,0
2,2020-12-19,12000049.0,Final,1610612763.0,1610612737.0,2020.0,1610612763.0,116.0,0.4,0.744,...,0,0,0,0,0,0,0,0,0,0
1,2020-12-19,12000048.0,Final,1610612764.0,1610612765.0,2020.0,1610612764.0,99.0,0.427,0.625,...,0,0,0,0,0,0,0,0,0,0
3,2020-12-18,12000039.0,Final,1610612754.0,1610612755.0,2020.0,1610612754.0,107.0,0.371,0.692,...,0,0,0,0,0,0,0,0,0,0
8,2020-12-18,12000044.0,Final,1610612760.0,1610612741.0,2020.0,1610612760.0,103.0,0.411,0.737,...,0,0,0,0,0,0,0,0,0,0

In [40]:
games_level[['Game_Date','Game_Id','Points_Away']].head()

    Game_Date     Game_Id Points_Away
0  2020-12-19  12000047.0       117.0
1  2020-12-19  12000048.0        96.0
2  2020-12-19  12000049.0       117.0
3  2020-12-18  12000039.0       113.0
4  2020-12-18  12000040.0       117.0